@font-face {
  font-family: "iconfont"; /* Project id 4206150 */
  src: url('iconfont.woff2?t=1691672789873') format('woff2'),
       url('iconfont.woff?t=1691672789873') format('woff'),
       url('iconfont.ttf?t=1691672789873') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kuaijin:before {
  content: "\e61b";
}

.icon-bofang:before {
  content: "\e607";
}

.icon-danquxunhuan:before {
  content: "\e608";
}

.icon-jingyin:before {
  content: "\e60d";
}

.icon-liebiaoxunhuan:before {
  content: "\e60e";
}

.icon-shengyin:before {
  content: "\e610";
}

.icon-kuaitui:before {
  content: "\e611";
}

.icon-suiji:before {
  content: "\e612";
}

.icon-xiai:before {
  content: "\e613";
}

.icon-zanting:before {
  content: "\e614";
}

.icon-liebiao:before {
  content: "\e617";
}

.icon-yinle:before {
  content: "\e61c";
}

